# Connexion Proxmox
proxmox_endpoint   = "https://192.168.1.100:8006/"
proxmox_username   = "root@pam"
proxmox_password   = "ton_mot_de_passe"
proxmox_insecure   = true
proxmox_node       = "pve"

# Template / Storage
template_name      = "ubuntu-24.04-cloud"   # si tu utilises un template existant
vm_storage         = "local-lvm"
bridge             = "vmbr0"

# Clé SSH
ssh_public_key     = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAI... ton@email"

# Ressources
cluster_name       = "k3s"
server_cores       = 2
server_memory      = 4096
agent_cores        = 2
agent_memory       = 4096
disk_size          = 30
